{{! footer partial }}
<footer class="footer">
  <div class="ruby-icon">
    <img src="{{asset "images/ruby.png"}}"/>
  </div>
  <section class="credits">
    <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}. <a href="https://github.com/irbrocks/theme">Open Source Theme</a></section>
  </section>
  <section class="social">
    <a href="https://twitter.com/irbrocks" target="_blank">Twitter</a> /
    <a href="https://github.com/irbrocks" target="_blank">Github</a> /
    <a href="https://es.linkedin.com/pub/ángel-maría-de-miguel-meana/60/974/9b6
" target="_blank">Linkedin</a> 
  </section>
</footer>