/*
 * Main style, define de base containers of website
 */

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F9F9;
  color: #444;
  margin: 0;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.clearfix:after,
.clearfix:before {
  content: "\0020";
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

/*
 * Post list on index
 */
main .post,
.main .post {
  margin: 20px 0;

  // Header
  .post-header {
    .post-title {
      margin: 0 0 10px;

      a {
        font-family: 'PT Serif', serif;
        font-weight: 400;
        font-size: 2em;
        color: #E61F1F;
      }
    }
  }

  // Meta info
  .post-meta {
    img.author {
      width: 35px;
      border-radius: 50%;
      border: 2px solid #ddd;
      display: inline;
    }

    .tags-time {
      position: relative;
      top: -13px;
      margin-left: 10px;
    }
  }
}
