/*
 * Main style, define de base containers of website
 */

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F9F9;
  color: #444;
  margin: 0;
}

.wrapper {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

// Helpers

.hidden {
  visibility: hidden;
  display: none;
}

.clearfix:after {
  content: "";
  height: 0;
  visibility: hidden;
}

.clearfix {
  overflow: auto;
}

.clearfix:after {
  clear: both;
}

// Typed

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
