/*
 * Styles for the footer.
 */

footer {
  position: relative;
  height: 20px;
  padding: 12px 0;
  margin: 20px 0 50px;

  .credits {
    float: left;
    width: 50%;
    font-size: .9em;
    color: #888;
  }

  .social {
    float: right;
    width: 50%;
    text-align: right;
    font-size: .9em;
    color: #888;
  }

  .ruby-icon {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -13px;

    img {
      width: 36px;
    }
  }

  // Responsive footer
  @media screen and (max-width: 600px){
    // Center all elements
    text-align: center;

    .credits,
    .social {
      float: none;
      width: 100%;
      text-align: center;
    }

    .credits {
      margin-bottom: 7px;
    }

    .social {
      margin-bottom: 30px;
    }

    .ruby-icon {
      position: static;
      margin: 0 0 7px 0;
    }
  }
}