/*
 * Styles for texts. It's include paragraphs, anchors, text...
 */

// Base anchors
a {
  text-decoration: none;
  color: #5A5A5A;
  transition: all ease-in .3s;

  &:hover {
    color: #E61F1F;
  }
}
