/*
 * Styles for texts. It's include paragraphs, anchors, text...
 */

// Base anchors
a {
  text-decoration: none;
  color: #5A5A5A;
  transition: all ease-in .3s;

  &:hover {
    color: #E61F1F;
  }
}

// Quotes
blockquote {
  border-left: 5px solid #ddd;
  margin-left: 0;
  padding-left: 50px;
  font-style: italic;
  color: #545454;
}