/*
 * Main style, define de base containers of website
 */
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F9F9;
  color: #444;
  margin: 0; }

.wrapper {
  max-width: 800px;
  margin: 0 auto; }

.clearfix:after,
.clearfix:before {
  content: "\0020";
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

/*
 * Styles for the footer.
 */
footer {
  display: none; }

/*
 * Styles for the header. Now it's content navigation and logo
 */
/* The animation code */
@keyframes console {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

header {
  max-width: 800px;
  height: 60px;
  margin: 10px auto;
  padding: 12px 15px;
  border-bottom: 1px solid #D1B4B4; }
  header .blog-logo {
    position: relative;
    float: left; }
    header .blog-logo:after {
      content: '';
      opacity: 0;
      position: absolute;
      bottom: 2px;
      width: 30px;
      left: 15px;
      height: 3px;
      background-color: #BA0A0A;
      animation: console 5s ease-out 0s infinite alternate; }
    header .blog-logo:hover:after {
      right: 15px;
      left: inherit; }
    header .blog-logo img {
      width: 70px;
      transition: all 0.3s; }
      header .blog-logo img:hover {
        transform: rotateY(180deg); }
  header .blog-info {
    float: left;
    margin-left: 10px; }
    header .blog-info .blog-title {
      font-size: 1.5em;
      margin: 0; }
    header .blog-info .blog-description {
      font-size: .8em;
      color: #999;
      margin: 5px 0;
      font-weight: 200;
      font-style: italic; }
  header ul.nav {
    list-style: none;
    float: right;
    margin-top: 20px; }
    header ul.nav li {
      float: left;
      margin-right: 20px; }
      header ul.nav li:last-child {
        margin-right: 0; }

/*
 * Style for list on index
 */
main.post-list,
.main.post-list {
  margin: 30px 0; }
  main.post-list .post,
  .main.post-list .post {
    margin: 50px 0; }
    main.post-list .post .post-header,
    .main.post-list .post .post-header {
      position: relative; }
      main.post-list .post .post-header .post-tag,
      .main.post-list .post .post-header .post-tag {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #E75D5D;
        top: 7px;
        background-position: 50% 50%;
        background-size: 40px 40px;
        background-repeat: no-repeat; }
      main.post-list .post .post-header time,
      .main.post-list .post .post-header time {
        position: absolute;
        top: 60px;
        width: 50px;
        text-align: center;
        font-size: .8em;
        color: #C85656; }
      main.post-list .post .post-header .post-title,
      .main.post-list .post .post-header .post-title {
        margin: 0 0 10px 65px; }
        main.post-list .post .post-header .post-title a,
        .main.post-list .post .post-header .post-title a {
          font-family: 'PT Serif', serif;
          font-weight: 400;
          font-size: 2.7em;
          color: #E61F1F; }
    main.post-list .post .post-excerpt .read-more,
    .main.post-list .post .post-excerpt .read-more {
      display: inline-block;
      padding-left: 2px;
      font-size: .8em;
      position: relative;
      top: -1px;
      color: #E61F1F; }
    main.post-list .post.tag-rails .post-header .post-tag,
    .main.post-list .post.tag-rails .post-header .post-tag {
      background-image: url(/assets/images/tag-rails.png); }
    main.post-list .post.tag-ruby .post-header .post-tag,
    .main.post-list .post.tag-ruby .post-header .post-tag {
      background-image: url(/assets/images/tag-ruby.png); }

/*
 * Style for pagination
 */
nav.pagination {
  width: 35%;
  padding: 15px 0;
  margin: 10px auto;
  font-size: .8em;
  text-align: center;
  color: #888;
  border-top: 1px solid #DBDBDB; }

/*
 * Post styles
 */
main.post-content .post .post-header,
.main.post-content .post .post-header {
  margin: 50px 0;
  text-align: center; }
  main.post-content .post .post-header h1.post-title,
  .main.post-content .post .post-header h1.post-title {
    color: #E61F1F;
    font-size: 5.5em;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    margin: 30px 0 15px; }
  main.post-content .post .post-header .post-meta time,
  .main.post-content .post .post-header .post-meta time {
    color: #aaa; }

/*
 * Styles for texts. It's include paragraphs, anchors, text...
 */
a {
  text-decoration: none; }
