/*
 * Main style, define de base containers of website
 */
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F9F9;
  color: #444;
  margin: 0; }

.wrapper {
  max-width: 800px;
  margin: 0 auto; }

.clearfix:after,
.clearfix:before {
  content: "\0020";
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

/*
 * Post list on index
 */
main .post,
.main .post {
  margin: 20px 0; }
  main .post .post-header .post-title,
  .main .post .post-header .post-title {
    margin: 0 0 10px; }
    main .post .post-header .post-title a,
    .main .post .post-header .post-title a {
      font-family: 'PT Serif', serif;
      font-weight: 400;
      font-size: 2em;
      color: #E61F1F; }
  main .post .post-meta img.author,
  .main .post .post-meta img.author {
    width: 35px;
    border-radius: 50%;
    border: 2px solid #ddd;
    display: inline; }
  main .post .post-meta .tags-time,
  .main .post .post-meta .tags-time {
    position: relative;
    top: -13px;
    margin-left: 10px; }

/*
 * Styles for the header. Now it's content navigation and logo
 */
/* The animation code */
@keyframes console {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

header {
  max-width: 800px;
  height: 60px;
  margin: 10px auto;
  padding: 12px 15px;
  border-bottom: 1px solid #D1B4B4; }
  header .blog-logo {
    position: relative;
    float: left; }
    header .blog-logo:after {
      content: '';
      opacity: 0;
      position: absolute;
      bottom: 2px;
      width: 30px;
      left: 15px;
      height: 3px;
      background-color: #BA0A0A;
      animation: console 5s ease-out 0s infinite alternate; }
    header .blog-logo:hover:after {
      right: 15px;
      left: inherit; }
    header .blog-logo img {
      width: 70px;
      transition: all 0.3s; }
      header .blog-logo img:hover {
        transform: rotateY(180deg); }
  header .blog-info {
    float: left;
    margin-left: 10px; }
    header .blog-info .blog-title {
      font-size: 1.5em;
      margin: 5px 0; }
    header .blog-info .blog-description {
      font-size: .8em;
      color: #999;
      margin: 5px 0;
      font-weight: 200;
      font-style: italic; }
  header ul.nav {
    list-style: none;
    float: right;
    margin-top: 20px; }
    header ul.nav li {
      float: left;
      margin-right: 20px; }
      header ul.nav li:last-child {
        margin-right: 0; }

/*
 * Styles for texts. It's include paragraphs, anchors, text...
 */
a {
  text-decoration: none; }
